/*COLOUR PALLETE
#333 - dark grey, almost black
#F4D8CD - Champagne pink
#495F41 - Hunter Green (olive)
#84C318 - Yellow Green
#EE4B6A - Paradise Pink (more saturated)

/*GLOBAL STYLES
----------------------------------*/
* {
  box-sizing: border-box;
}
div.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #F4D8CD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #F4D8CD;
    color: black;
  }
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #495F41;
    color: F4D8CD;
  }
  /*Header
  --------------------------*/
.column.contact {
    width:25%;
    align-content: right;
}
.column {
    float: left;
    width: 75%;
    padding: 5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.header {
    padding: 15px;
    text-align: start;

}
.contact {
    text-align: right;
    padding-top: 50px;
}
h3 {
    font-size: 20px;
    color: #84C318;
}
a {
  color: #F4D8CD;
}
a:hover {
  background: #F4D8CD;
  color: #495F41;
}


/*CV
----------------------------------*/

/*ABOUT
----------------------------------*/

/*PROJECTS
----------------------------------*/

/*INDEX
----------------------------------*/